<template name="foot">
    <div id="foot">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-2 text-right">
                    <ul class="list-unstyled">
                        <li>关于</li>
                        <li><a href="/">关于Shark</a></li>
                        <li><a href="/">加入我们</a></li>
                        <li><a href="/">联系合作</a></li>
                        <li><a href="/">反馈意见</a></li>
                    </ul>
                </div>
                <div class="col-xs-3 col-xs-offset-6 col-sm-2 col-sm-offset-6 text-right">
                    <ul class="list-unstyled">
                        <li>关注Shark</li>
                        <li class="icon-sns">
                            <a class="icon-qq">
                                <span>Shark QQ官方群<br>·1111111<br>·222222</span>
                            </a>
                            <a href="/image/wechat-qr.gif" target="_blank" class="icon-wechat">
                                <img src="/image/wechat-qr.gif" />
                            </a>
                            <a href="http://weibo.com/kapor" target="_blank" class="icon-weibo"></a>
                        </li>
                        <li>@2015 Shark</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>